nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  background-color: white;
  padding-left: 13%;
  padding-right: 15%;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

.navbar-logo {
  width: 16rem;
  height: auto;
}

@media (max-width: 768px) {
  nav {
    padding-left: 3%;
    padding-right: 5%;
  }

  .navbar-logo {
    width: 14rem;
    height: auto;
  }
}
